<h1>Hi</h1>
<% @restaurants.each do |restaurant| %>
<p><%= restaurant.name %></p>
<p><%= restaurant.address %></p>
<p><%= restaurant.category %></p>
<p><%= restaurant.rating %></p>

<%= link_to "Home", restaurants_path, class: "btn btn-primary" %>
<%= link_to "Add a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>



<% end %>
